@layer components {
  .input-base {
    @apply
      rounded-lg border px-3 py-2 text-sm
      bg-white text-gray-900
      border-gray-300
      focus:outline-none focus:ring-2 focus:ring-indigo-500

      dark:bg-gray-800
      dark:text-gray-100
      dark:border-gray-600;
  }

  .btn-pagination {
    @apply
      px-3 py-1 rounded border text-sm
      bg-white text-gray-800 border-gray-300

      dark:bg-gray-800
      dark:text-gray-100
      dark:border-gray-600

      hover:bg-gray-100
      dark:hover:bg-gray-700;
  }

  .btn-pagination-active {
    @apply
      bg-indigo-500 text-white border-indigo-500
      dark:bg-indigo-600;
  }
    .select-base {
    @apply
      input-base
      appearance-none
      cursor-pointer;
  }

  .select-option {
    @apply
      bg-white text-gray-900
      dark:bg-gray-800 dark:text-gray-100;
  }
  
}
